<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/usuarioform}" th:object="${usuario}" method="post">
				
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Perfil</label>
						<div class="col-sm-6">
							<select class="form-control" th:field="*{role.id}" th:readonly="${action=='readonly'}">
								<option th:each="role: ${roles}" th:value="${role.id}"
									                           th:text="${role.nombre}"
									    th:selected="${role.id} == ${usuario.role.id}"></option>
							</select>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Area</label>
						<div class="col-sm-6">
							<select class="form-control" th:field="*{area.id}" th:readonly="${action=='readonly'}">
								<option th:each="area: ${areas}" th:value="${area.id}"
									                           th:text="${area.nombre}"
									    th:selected="${area.id} == ${usuario.area.id}"></option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Usuario:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{usuario}" class="form-control" th:errorclass="'form-control alert-danger'" th:readonly="${action=='readonly'}" th:required="required"/>
	
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Password:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{password}" class="form-control" th:errorclass="'form-control alert-danger'" th:required="required"/>
									
						</div>
					</div>
					
					

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Email:</label>
						<div class="col-sm-6">
							<input type="email" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'" th:required="required"/>
								
						</div>
					</div>

					

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{apellido}" class="form-control" th:errorclass="'form-control alert-danger'" th:required="required"/>
	
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombres:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombres}" class="form-control" th:errorclass="'form-control alert-danger'" th:required="required"/>
	
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Guardar"
								class="btn btn-primary" />
						</div>
					</div>


				</form>

			</div>
		</div>

	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>
