<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div th:replace="layout/layout :: menu"></div>
	<div th:replace="layout/layout :: session"></div>
	<div th:replace="layout/layout :: messages"></div>

	<div class="container float-right py-4">

		<div class="card">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/usuarioform}" th:object="${usuario}" method="post">
				
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Perfil</label>
						<div class="col-sm-6">
							<select id="comboRol" name="comboRol" class="form-control" th:field="*{role.id}" 
								th:readonly="${action=='readonly'}">
								<option th:each="role: ${roles}" th:value="${role.id}"
									                           th:text="${role.nombre}"
									    th:selected="${role.id} == ${usuario.role.id}"></option>
							</select>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Area</label>
						<div class="col-sm-6">
							<select id="comboArea" name="comboArea" class="form-control" th:field="*{area.id}" th:readonly="${action=='readonly'}">
								<option th:each="area: ${areas}" th:value="${area.id}"
									                           th:text="${area.nombre}"
									    th:selected="${area.id} == ${usuario.area.id}"></option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Usuario:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{usuario}" class="form-control" th:errorclass="'form-control alert-danger'" th:readonly="${action=='readonly'}" th:required="required"/>
	
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Password:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{password}" class="form-control" th:errorclass="'form-control alert-danger'" th:required="required"/>
									
						</div>
					</div>
					
					

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Email:</label>
						<div class="col-sm-6">
							<input type="email" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'" th:required="required"/>
								
						</div>
					</div>

					

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{apellido}" class="form-control" th:errorclass="'form-control alert-danger'" th:required="required"/>
	
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombres:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombres}" class="form-control" th:errorclass="'form-control alert-danger'" th:required="required"/>
	
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Guardar"
								class="btn btn-primary" />
						</div>
					</div>


				</form>

			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>	
	<script>
		$(document).ready(function(){
			 $('#comboRol').change(
				        function() {
				            $.getJSON("http://localhost:8080/areas", {
				                roleId : $(this).val()
				            }, function(data) {
				                var html = '';
				                var len = data.length;
				                for ( var i = 0; i < len; i++) {
				                    html += '<option value="' + data[i].id + '">'
				                            + data[i].nombre + '</option>';
				                }
				                html += '</option>';
				                $('#comboArea').html(html);
				            });
				        });
		});
		//function refreshComboArea() {
		    /*var chosenShowtime = $("showTime").val();
		    for (i=0;i<showTimeList.length;i++) {
		        if (showTimeList[i].id == chosenShowTime) {
		            $('#secondBox option').remove();
		            seats = showTimeList[i].SeatingList;
		            for (n=0;m<seats.length;n++) {
		                $('#secondBox').append($('<option>', {
		                    value: seats[n].id,
		                    text: seats[n].seatNo
		                }));
		            }
		            $("#secondBox").trigger("chosen:updated");
		        }
		    }*/
		//}
	</script>
</body>
</html>
